<%- model_class = StudentClassDatum -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human( count:2 ).titleize %></h1>
  <h2>
    <%= model_class.human_attribute_name(:activity_class).capitalize %>:
    <%= @activity_class %>
  </h2>
</div>
<%= form_for [@teacher, @activity_class ], url: update_student_class_data_teacher_activity_class_path( @teacher, @activity_class ), method: :patch, html: { class: 'form-horizontal' } do |f| %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:student_activity_sign_up).capitalize %></th>
        <th><%= model_class.human_attribute_name(:attended).capitalize %></th>
        <th><%= model_class.human_attribute_name(:paid).capitalize %></th>
        <!--<th><%#=t '.actions', default: t("helpers.actions") %></th>-->
      </tr>
      </thead>
      <tbody>
      <%= f.nested_fields_for :student_class_data do |a| %>
          <tr>
            <td><%= a.object.student_activity_sign_up.try(:student) %></td>
            <td><%= a.check_box :attended %></td>
            <td>
              <%#= a.check_box :paid %>
              <%= boolean_glyph a.object.paid %>
            </td>
            <!--<td>-->
              <%#= a.remove_nested_fields_link t('helpers.links.remove_x', x: model_class.model_name.human ),
                                              data: { confirm:  t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                                              class: 'btn btn-xs', role: 'button',
                                              title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do %>
                  <%#= glyph 'remove' %>
              <%#- end -%>
            <!--</td>-->
          </tr>
      <%- end -%>

      </tbody>
    </table>
    <div class="form-group">
        <%= f.submit nil, class: 'btn btn-primary' %>
        <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                    show_student_class_data_teacher_activity_class_path( @teacher, @activity_class ), class: 'btn btn-default' %>
    </div>
<% end %>