<%- model_class = StudentClassDatum -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human( count:2 ).titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id).capitalize %></th>
    <th><%= model_class.human_attribute_name(:attended).capitalize %></th>
    <th><%= model_class.human_attribute_name(:paid).capitalize %></th>
    <th><%= model_class.human_attribute_name(:activity_class_id).capitalize %></th>
    <th><%= model_class.human_attribute_name(:student_activity_sign_up_id).capitalize %></th>
    <th><%= model_class.human_attribute_name(:created_at).capitalize %></th>
    <th><%=t '.actions', default: t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @student_class_data.each do |student_class_datum| %>
      <tr>
        <td><%= student_class_datum.id %></td>
        <td><%= student_class_datum.attended %></td>
        <td><%= student_class_datum.paid %></td>
        <td><%= student_class_datum.activity_class_id %></td>
        <td><%= student_class_datum.student_activity_sign_up_id %></td>
        <td><%=l student_class_datum.created_at, format: :long %></td>
        <td>
          <%= link_to student_class_datum_path(student_class_datum), class: 'btn btn-xs', title: "#{ t('.show', default: t('helpers.links.show')) }" do %>
              <%= glyph 'info-sign' %>
          <%- end -%>
          <%= link_to edit_student_class_datum_path(student_class_datum), class: 'btn btn-xs', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do %>
              <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to student_class_datum_path(student_class_datum), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-xs', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do %>
              <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', default: t("helpers.links.new")),
            new_student_class_datum_path,
            class: 'btn btn-primary' %>
