<%- model_class = TimeWeekCycle -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human( count:2 ).titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:activity_id).capitalize %></th>
    <th><%= model_class.human_attribute_name(:week_day).capitalize %></th>
    <th><%= model_class.human_attribute_name(:activity_class_starts_at).capitalize %></th>
    <th><%= model_class.human_attribute_name(:activity_class_ends_at).capitalize %></th>
    <th><%= model_class.human_attribute_name(:period_started_at).capitalize %></th>
    <th><%= model_class.human_attribute_name(:period_ended_at).capitalize %></th>
    <th><%=t '.actions', default: t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @time_week_cycles.each do |time_week_cycle| %>
      <tr>
        <td><%= time_week_cycle.activity %></td>
        <td><%= model_class.human_enum_name :week_day, time_week_cycle.week_day %></td>
        <td><%= time_format time_week_cycle.activity_class_starts_at %></td>
        <td><%= time_format time_week_cycle.activity_class_ends_at %></td>
        <td><%= date_format time_week_cycle.period_started_at %></td>
        <td><%= date_format time_week_cycle.period_ended_at %></td>
        <td>
          <%= link_to time_week_cycle_path(time_week_cycle), class: 'btn btn-xs', title: "#{ t('.show', default: t('helpers.links.show')) }" do %>
              <%= glyph 'info-sign' %>
          <%- end -%>
          <%= link_to edit_time_week_cycle_path(time_week_cycle), class: 'btn btn-xs', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do %>
              <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to time_week_cycle_path(time_week_cycle), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-xs', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do %>
              <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', default: t("helpers.links.new")),
            new_time_week_cycle_path,
            class: 'btn btn-primary' %>
