<%- model_class = StudentActivitySignUp -%>
<div class="page-header">
  <h1><%=t '.title', default: [:'helpers.titles.edit', 'Edit %{model}'], model: model_class.model_name.human.titleize %></h1>
</div>

<%= form_for @student  , url: activities_student_path( @student ), method: :patch, html: { class: 'form-horizontal' } do |f| %>

    <div class="form-group">
      <div class='col-md-offset-2 col-md-10'>
        <%= f.add_nested_fields_link :student_activity_sign_ups,
                                     t('helpers.links.add_x', x: model_class.model_name.human ),
                                     class: 'btn btn-primary', role: 'button' %>
      </div>
    </div>

    <%= f.nested_fields_for :student_activity_sign_ups do |s| %>
        <div class="form-group">
          <%= s.label :activity, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= s.collection_select :activity_id, @activities, :id, :to_s,  { include_blank: true }, {class: 'select-search form-control'} %>
          </div>
        </div>
        <div class="form-group">
          <%= s.label :activity_discount, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= s.text_field :activity_discount, class: 'discount text_field form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= s.label :payment_type, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= s.select :payment_type, enum_options_for_select( s.object, :payment_type ), { include_blank: true }, class: 'select-search text_field form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= s.label :started_at, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= s.text_field :started_at, class: 'datepicker text_field form-control', value: date_format( s.object.started_at ) %>
          </div>
        </div>
        <div class="form-group">
          <%= s.label :ended_at, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= s.text_field :ended_at, class: 'datepicker text_field form-control', value: date_format( s.object.ended_at ) %>
          </div>
        </div>
        <div class="form-group">
          <div class='col-md-offset-2 col-md-10'>
            <%= s.remove_nested_fields_link t('helpers.links.remove_x', x: model_class.model_name.human ), class: 'btn btn-danger', role: 'button' %>
          </div>
        </div>
    <% end %>


    <div class="form-group">
      <div class='col-md-offset-2 col-md-10'>
        <%= f.submit nil, class: 'btn btn-primary' %>
        <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                    student_path( @student ), class: 'btn btn-default' %>
      </div>
    </div>
<% end %>
