<%- model_class = StudentActivitySignUp -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human( count:2 ).titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:student).capitalize %></th>
    <th><%= model_class.human_attribute_name(:activity).capitalize %></th>
    <th><%= model_class.human_attribute_name(:payment_type).capitalize %></th>
    <th><%= model_class.human_attribute_name(:activity_discount).capitalize %></th>
    <th><%= model_class.human_attribute_name(:started_at).capitalize %></th>
    <th><%= model_class.human_attribute_name(:ended_at).capitalize %></th>  </tr>
  </thead>
  <tbody>
  <% @student.student_activity_sign_ups.each do |student_activity_sign_up| %>
      <tr>
        <td>
          <% student = student_activity_sign_up.student %>
          <%= link_to student, student_path( student ) %>
        </td>
        <td>
          <% activity = student_activity_sign_up.activity %>
          <%= link_to activity, activity_path( activity ) %>
        </td>
        <td><%= student_activity_sign_up.activity_discount %></td>
        <td><%= model_class.human_enum_name :payment_type, student_activity_sign_up.payment_type %></td>
        <td><%=l student_activity_sign_up.started_at, format: :long if student_activity_sign_up.started_at.present?%></td>
        <td><%=l student_activity_sign_up.ended_at, format: :long if student_activity_sign_up.ended_at.present? %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="form-group">
  <%= link_to t('.back', default: t("helpers.links.back")),
              #:back,
              student_path( @student),
              class: 'btn btn-default'  %>
  <%= link_to t('.edit_x', default: t("helpers.links.edit_x",
                                      x: model_class.model_name.human(count: 2) )),
              edit_activities_student_path(@student),
              class: 'btn btn-default' %>
</div>