<%- model_class = Teacher -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:surname) %></th>
      <th><%= model_class.human_attribute_name(:work_email) %></th>
      <th><%= model_class.human_attribute_name(:NIC) %></th>
      <th><%= model_class.human_attribute_name(:mobile_phone_number) %></th>
      <th><%= model_class.human_attribute_name(:phone_number) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:town) %></th>
      <th><%= model_class.human_attribute_name(:province) %></th>
      <th><%= model_class.human_attribute_name(:zip_code) %></th>
      <th><%= model_class.human_attribute_name(:IBAN) %></th>
      <th><%= model_class.human_attribute_name(:photo) %></th>
      <th><%= model_class.human_attribute_name(:photo_content_type) %></th>
      <th><%= model_class.human_attribute_name(:photo_file_size) %></th>
      <th><%= model_class.human_attribute_name(:photo_updated_at) %></th>
      <th><%= model_class.human_attribute_name(:default_collection_management) %></th>
      <th><%= model_class.human_attribute_name(:default_attendance_management) %></th>
      <th><%= model_class.human_attribute_name(:studies) %></th>
      <th><%= model_class.human_attribute_name(:details) %></th>
      <th><%= model_class.human_attribute_name(:userid) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
          <td><%= teacher.name %></td>
          <td><%= teacher.surname %></td>
          <td><%= teacher.work_email %></td>
          <td><%= teacher.NIC %></td>
          <td><%= teacher.mobile_phone_number %></td>
          <td><%= teacher.phone_number %></td>
          <td><%= teacher.address %></td>
          <td><%= teacher.town %></td>
          <td><%= teacher.province %></td>
          <td><%= teacher.zip_code %></td>
          <td><%= teacher.IBAN %></td>
          <td><%= teacher.photo_file_name %></td>
          <td><%= teacher.photo_content_type %></td>
          <td><%= teacher.photo_file_size %></td>
          <td><%= teacher.photo_updated_at %></td>
          <td><%= teacher.default_collection_management %></td>
          <td><%= teacher.default_attendance_management %></td>
          <td><%= teacher.studies %></td>
          <td><%= teacher.details %></td>
          <td><%= teacher.user %></td>
        <td><%=l teacher.created_at, format: :long %></td>
        <td>
          <%= link_to teacher_path(teacher), class: 'btn btn-xs', title: "#{ t('.show', default: t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
          <%- end -%>
          <%= link_to edit_teacher_path(teacher), class: 'btn btn-xs', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to teacher_path(teacher), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-xs', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', default: t("helpers.links.new")),
            new_teacher_path,
            class: 'btn btn-primary' %>
