<%- construct_teacher_activity_helper -%>
<%= form_for @activity, html: { class: 'form-horizontal' } do |f| %>
    <div class="form-group">
      <%= f.label :name, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :name, class: 'text_field form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :classification, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :classification, class: 'text_field form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :started_at, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :started_at, class: 'datepicker text_field form-control' , value: date_format( f.object.started_at )%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :ended_at, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :ended_at, class: 'datepicker text_field form-control', value: date_format( f.object.ended_at ) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :default_price, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :default_price, class: 'text_field form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :details, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_area :details, class: 'text_field form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :school, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.collection_select :school_id, @schools, :id, :to_s,  { include_blank: true }, {class: 'select-search form-control'} %>
      </div>
    </div>

    <%= f.nested_fields_for :teacher_activities do |a| %>
        <div class='default_on_click_wrapper'>
          <div class="form-group">
            <%= a.label :teacher, class: 'control-label col-md-2' %>
            <div class="col-md-10">
              <%= a.select :teacher_id,
                           @teachers.map{ |t| [t.to_s, t.id,
                                               data:  { targets: 'attendance_management collection_management' ,
                                                        defaults: "#{t.default_attendance_management} #{t.default_collection_management}" }] },
                           { include_blank: true }, {class: 'default_on_click_sender select-search form-control'} %>
            </div>
          </div>

          <div class="form-group">
            <%= a.label :attendance_management, class: 'control-label col-md-2' %>
            <div class="col-md-10">
              <%= a.check_box :attendance_management,
                              data: {target: 'attendance_management'},
                              class: 'default_on_click_target text_field form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= a.label :collection_management, class: 'control-label col-md-2' %>
            <div class="col-md-10">
              <%= a.check_box :collection_management,
                              data: {target: 'collection_management'} ,
                              class: 'default_on_click_target text_field form-control' %>
            </div>

          </div>

          <div class="form-group">
            <div class='col-md-offset-2 col-md-10'>
              <%= a.remove_nested_fields_link t('helpers.links.remove_x', x: a.object.class.model_name.human ), class: 'btn btn-danger', role: 'button' %>
            </div>
          </div>

        </div>
    <% end %>

    <div class="form-group">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  activities_path, class: 'btn btn-default' %>
    </div>
<% end %>
