<%= form_for @activity, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :classification, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :classification, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :started_at, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :started_at, class: 'datepicker text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ended_at, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :ended_at, class: 'datepicker text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :default_price, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :default_price, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :details, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :details, class: 'text_field form-control' %>
    </div>
  </div>
    <div class="form-group">
      <%= f.label :school, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.collection_select :school_id, @schools, :id, :to_s,  { include_blank: true }, {class: 'select-search form-control'} %>
      </div>
    </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  activities_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
