<%- model_class = TimeWeekCycle -%>
<div class="page-header">
  <h1><%=t '.title', default: [:'helpers.titles.edit', 'Edit %{model}'], model: model_class.model_name.human.titleize %></h1>
  <h2>
    <%= model_class.human_attribute_name(:activity).capitalize %>:
    <%= @activity %>
  </h2>
</div>

<%= form_for @activity, url: update_time_week_cycles_activity_path( @activity ), method: :patch, html: { class: 'form-horizontal' } do |f| %>
    <%= f.nested_fields_for :time_week_cycles do |s| %>

        <div class="form-group">
          <%= s.label :week_day, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= s.select :week_day, enum_options_for_select( s.object, :week_day ), { include_blank: true }, class: 'select-search text_field form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :activity_class_starts_at, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= s.text_field :activity_class_starts_at, class: 'timepicker text_field form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= s.label :activity_class_ends_at, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= s.text_field :activity_class_ends_at, class: 'timepicker text_field form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= s.label :period_started_at, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= s.text_field :period_started_at, class: 'datepicker text_field form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= s.label :period_ended_at, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= s.text_field :period_ended_at, class: 'datepicker text_field form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class='col-md-offset-2 col-md-10'>
            <%= s.remove_nested_fields_link t('helpers.links.remove_x', x: model_class.model_name.human ), class: 'btn btn-danger', role: 'button' %>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <div class='col-md-offset-2 col-md-10'>
        <%= f.add_nested_fields_link :time_week_cycles,
                                     t('helpers.links.add_x', x: model_class.model_name.human ),
                                     class: 'btn btn-default', role: 'button' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  show_time_week_cycles_activity_path( @activity ), class: 'btn btn-default' %>
    </div>
<% end %>
