<%- model_class = ActivityClass -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human( count:2 ).titleize %></h1>
  <h2>
    <%= model_class.human_attribute_name(:activity).capitalize %>:
    <%= @activity %>
  </h2>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:ranged_time).capitalize %></th>
    <th><%= model_class.human_attribute_name(:number_of_students_signed).capitalize %></th>
  </tr>
  <tbody>
  <% @activity_classes.each do |activity_class| %>
      <tr>
        <td><%= datetime_range_format activity_class.started_at, activity_class.ended_at %></td>
        <td><%= activity_class.number_of_students_signed %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="form-group">
  <%= link_to t('.back', default: t("helpers.links.back")),
              #:back,
              activity_path( @activity),
              class: 'btn btn-default'  %>
  <%= link_to t('.edit_x', default: t("helpers.links.edit_x",
                                      x: model_class.model_name.human(count: 2) )),
              edit_activity_classes_activity_path(@activity),
              class: 'btn btn-default' %>
</div>